h1{
   
    font-size: 3rem;
    font-weight: bold;
   
  }
  .checkList{
    text-decoration: line-through;
  }
  .notCheklist{
    text-decoration: none;
  }
  .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
  }